<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package Name="vDS USB Driver" Manufacturer="Jihong Min" Version="$(var.VdsVersion)" UpgradeCode="{2DF2E702-0EF9-4839-A42E-D0601A4E88C8}" Scope="perMachine" Compressed="yes">
    <MediaTemplate EmbedCab="yes"/>
    <Property Id="ARPSYSTEMCOMPONENT" Value="1"/>
    <Property Id="ARPNOMODIFY" Value="1"/>
    <Property Id="VDS_FORCE_DRIVER_INSTALL" Secure="yes"/>
    <Property Id="REINSTALL" Secure="yes"/>
    <Property Id="REINSTALLMODE" Secure="yes"/>
    <StandardDirectory Id="TempFolder">
      <Directory Id="VdsSetupTempDir" Name="vDSSetup">
        <Directory Id="UsbDriverMsiDir" Name="usb-driver-msi">
          <Directory Id="WindrvRootDir" Name="windrv">
            <Component Id="cmp_usb_windrv_scripts" Guid="{F7F06DF7-796A-4A1E-829A-0B8AE2B3BA84}">
              <File Id="fil_usb_windrv_install" Source="$(var.WindrvDir)\install.ps1" KeyPath="yes"/>
              <File Id="fil_usb_windrv_reload" Source="$(var.WindrvDir)\reload.ps1"/>
              <File Id="fil_usb_windrv_uninstall" Source="$(var.WindrvDir)\uninstall.ps1"/>
              <File Id="fil_usb_root_device_installer" Source="$(var.RootDeviceInstaller)"/>
            </Component>
            <Directory Id="UsbDriverDir" Name="vds_usb">
              <Component Id="cmp_usb_registry" Guid="{781F671F-31BC-409C-8636-B9EAE02D7217}">
                <File Id="fil_usb_registry" Source="$(var.WindrvDir)\vds_usb\vds_usb.reg" KeyPath="yes"/>
              </Component>
              <Directory Id="UsbPackageDir" Name="package">
                <Component Id="cmp_usb_package" Guid="{910D719E-D743-49C3-8F5D-FCBE5308C7A8}">
                  <File Id="fil_usb_inf" Source="$(var.DriverPackageRoot)\vds_usb\package\vds_usb.inf" KeyPath="yes"/>
                  <File Id="fil_usb_sys" Source="$(var.DriverPackageRoot)\vds_usb\package\vds_usb.sys"/>
                  <File Id="fil_usb_cat" Source="$(var.DriverPackageRoot)\vds_usb\package\vds_usb.cat"/>
                </Component>
              </Directory>
            </Directory>
          </Directory>
        </Directory>
      </Directory>
    </StandardDirectory>
    <Feature Id="DriverFeature" Title="vDS USB Driver" Level="1">
      <ComponentRef Id="cmp_usb_windrv_scripts"/>
      <ComponentRef Id="cmp_usb_registry"/>
      <ComponentRef Id="cmp_usb_package"/>
    </Feature>
    <Binary Id="bin_driver_script_runner" SourceFile="$(var.DriverScriptRunner)"/>
    <CustomAction Id="SetDriverReinstall" Property="REINSTALL" Value="ALL"/>
    <CustomAction Id="SetDriverReinstallMode" Property="REINSTALLMODE" Value="amus"/>
    <CustomAction Id="InstallUsbDriver" BinaryRef="bin_driver_script_runner" ExeCommand="install vds_usb &quot;[WindrvRootDir]install.ps1&quot;" Execute="deferred" Return="check" Impersonate="no"/>
    <CustomAction Id="UninstallUsbDriver" BinaryRef="bin_driver_script_runner" ExeCommand="uninstall vds_usb &quot;[WindrvRootDir]uninstall.ps1&quot;" Execute="deferred" Return="ignore" Impersonate="no"/>
    <InstallExecuteSequence>
      <Custom Action="SetDriverReinstall" Before="CostFinalize" Condition="Installed AND VDS_FORCE_DRIVER_INSTALL = &quot;1&quot;"/>
      <Custom Action="SetDriverReinstallMode" After="SetDriverReinstall" Condition="Installed AND VDS_FORCE_DRIVER_INSTALL = &quot;1&quot;"/>
      <Custom Action="InstallUsbDriver" After="InstallFiles" Condition="REMOVE &lt;&gt; &quot;ALL&quot; AND (NOT Installed OR REINSTALL OR VDS_FORCE_DRIVER_INSTALL = &quot;1&quot;)"/>
      <Custom Action="UninstallUsbDriver" Before="RemoveFiles" Condition="REMOVE = &quot;ALL&quot;"/>
    </InstallExecuteSequence>
    <UI>
      <TextStyle Id="WixUI_Font_Normal" FaceName="Segoe UI" Size="9"/>
      <TextStyle Id="WixUI_Font_Title" FaceName="Segoe UI" Size="12" Bold="yes"/>
      <Property Id="DefaultUIFont" Value="WixUI_Font_Normal"/>
      <ProgressText Action="InstallFiles" Message="Copying vDS USB driver package"/>
      <ProgressText Action="InstallUsbDriver" Message="Installing vDS USB driver package"/>
      <ProgressText Action="UninstallUsbDriver" Message="Removing vDS USB driver package"/>
      <Dialog Id="ProgressDlg" Width="370" Height="270" Title="[ProductName] Setup" Modeless="yes">
        <Control Id="Title" Type="Text" X="15" Y="6" Width="340" Height="18" Transparent="yes" NoPrefix="yes" Text="{\WixUI_Font_Title}Installing vDS USB Driver"/>
        <Control Id="Description" Type="Text" X="25" Y="26" Width="330" Height="24" Transparent="yes" NoPrefix="yes" Text="Please wait while the vDS USB driver package is installed."/>
        <Control Id="TopLine" Type="Line" X="0" Y="50" Width="370" Height="0"/>
        <Control Id="ActionText" Type="Text" X="25" Y="92" Width="320" Height="18" NoPrefix="yes" Text="Preparing driver installation...">
          <Subscribe Event="ActionText" Attribute="Text"/>
        </Control>
        <Control Id="ProgressBar" Type="ProgressBar" X="25" Y="118" Width="320" Height="12">
          <Subscribe Event="SetProgress" Attribute="Progress"/>
        </Control>
        <Control Id="BottomLine" Type="Line" X="0" Y="234" Width="370" Height="0"/>
        <Control Id="Cancel" Type="PushButton" X="304" Y="243" Width="56" Height="17" Disabled="yes" Text="Cancel"/>
      </Dialog>
      <InstallUISequence>
        <Show Dialog="ProgressDlg" Before="ExecuteAction"/>
      </InstallUISequence>
    </UI>
  </Package>
</Wix>
