<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package Name="vDS Filter Driver" Manufacturer="Jihong Min" Version="$(var.VdsVersion)" UpgradeCode="{16263B51-5DD2-4428-8704-AB8762322452}" Scope="perMachine" Compressed="yes">
    <MediaTemplate EmbedCab="yes"/>
    <Property Id="ARPSYSTEMCOMPONENT" Value="1"/>
    <Property Id="ARPNOMODIFY" Value="1"/>
    <Property Id="VDS_FORCE_DRIVER_INSTALL" Secure="yes"/>
    <Property Id="REINSTALL" Secure="yes"/>
    <Property Id="REINSTALLMODE" Secure="yes"/>
    <StandardDirectory Id="TempFolder">
      <Directory Id="VdsSetupTempDir" Name="vDSSetup">
        <Directory Id="FilterDriverMsiDir" Name="filter-driver-msi">
          <Directory Id="WindrvRootDir" Name="windrv">
            <Component Id="cmp_filter_windrv_scripts" Guid="{78EA9ACF-E46E-4586-9677-0CAB50B5A5E2}">
              <File Id="fil_filter_windrv_install" Source="$(var.WindrvDir)\install.ps1" KeyPath="yes"/>
              <File Id="fil_filter_windrv_reload" Source="$(var.WindrvDir)\reload.ps1"/>
              <File Id="fil_filter_windrv_uninstall" Source="$(var.WindrvDir)\uninstall.ps1"/>
            </Component>
            <Directory Id="FilterDriverDir" Name="vds_filter">
              <Directory Id="FilterPackageDir" Name="package">
                <Component Id="cmp_filter_package" Guid="{C83B0C66-C92C-4B16-9F00-AD290A240C40}">
                  <File Id="fil_filter_inf" Source="$(var.DriverPackageRoot)\vds_filter\package\vds_filter.inf" KeyPath="yes"/>
                  <File Id="fil_filter_sys" Source="$(var.DriverPackageRoot)\vds_filter\package\vds_filter.sys"/>
                  <File Id="fil_filter_cat" Source="$(var.DriverPackageRoot)\vds_filter\package\vds_filter.cat"/>
                </Component>
              </Directory>
            </Directory>
          </Directory>
        </Directory>
      </Directory>
    </StandardDirectory>
    <Feature Id="DriverFeature" Title="vDS Filter Driver" Level="1">
      <ComponentRef Id="cmp_filter_windrv_scripts"/>
      <ComponentRef Id="cmp_filter_package"/>
    </Feature>
    <Binary Id="bin_driver_script_runner" SourceFile="$(var.DriverScriptRunner)"/>
    <CustomAction Id="SetDriverReinstall" Property="REINSTALL" Value="ALL"/>
    <CustomAction Id="SetDriverReinstallMode" Property="REINSTALLMODE" Value="amus"/>
    <CustomAction Id="InstallFilterDriver" BinaryRef="bin_driver_script_runner" ExeCommand="install vds_filter &quot;[WindrvRootDir]install.ps1&quot;" Execute="deferred" Return="check" Impersonate="no"/>
    <CustomAction Id="UninstallFilterDriver" BinaryRef="bin_driver_script_runner" ExeCommand="uninstall vds_filter &quot;[WindrvRootDir]uninstall.ps1&quot;" Execute="deferred" Return="ignore" Impersonate="no"/>
    <InstallExecuteSequence>
      <Custom Action="SetDriverReinstall" Before="CostFinalize" Condition="Installed AND VDS_FORCE_DRIVER_INSTALL = &quot;1&quot;"/>
      <Custom Action="SetDriverReinstallMode" After="SetDriverReinstall" Condition="Installed AND VDS_FORCE_DRIVER_INSTALL = &quot;1&quot;"/>
      <Custom Action="InstallFilterDriver" After="InstallFiles" Condition="REMOVE &lt;&gt; &quot;ALL&quot; AND (NOT Installed OR REINSTALL OR VDS_FORCE_DRIVER_INSTALL = &quot;1&quot;)"/>
      <Custom Action="UninstallFilterDriver" Before="RemoveFiles" Condition="REMOVE = &quot;ALL&quot;"/>
    </InstallExecuteSequence>
    <UI>
      <TextStyle Id="WixUI_Font_Normal" FaceName="Segoe UI" Size="9"/>
      <TextStyle Id="WixUI_Font_Title" FaceName="Segoe UI" Size="12" Bold="yes"/>
      <Property Id="DefaultUIFont" Value="WixUI_Font_Normal"/>
      <ProgressText Action="InstallFiles" Message="Copying vDS filter driver package"/>
      <ProgressText Action="InstallFilterDriver" Message="Installing vDS filter driver package"/>
      <ProgressText Action="UninstallFilterDriver" Message="Removing vDS filter driver package"/>
      <Dialog Id="ProgressDlg" Width="370" Height="270" Title="[ProductName] Setup" Modeless="yes">
        <Control Id="Title" Type="Text" X="15" Y="6" Width="340" Height="18" Transparent="yes" NoPrefix="yes" Text="{\WixUI_Font_Title}Installing vDS Filter Driver"/>
        <Control Id="Description" Type="Text" X="25" Y="26" Width="330" Height="24" Transparent="yes" NoPrefix="yes" Text="Please wait while the vDS filter driver package is installed."/>
        <Control Id="TopLine" Type="Line" X="0" Y="50" Width="370" Height="0"/>
        <Control Id="ActionText" Type="Text" X="25" Y="92" Width="320" Height="18" NoPrefix="yes" Text="Preparing driver installation...">
          <Subscribe Event="ActionText" Attribute="Text"/>
        </Control>
        <Control Id="ProgressBar" Type="ProgressBar" X="25" Y="118" Width="320" Height="12">
          <Subscribe Event="SetProgress" Attribute="Progress"/>
        </Control>
        <Control Id="BottomLine" Type="Line" X="0" Y="234" Width="370" Height="0"/>
        <Control Id="Cancel" Type="PushButton" X="304" Y="243" Width="56" Height="17" Disabled="yes" Text="Cancel"/>
      </Dialog>
      <InstallUISequence>
        <Show Dialog="ProgressDlg" Before="ExecuteAction"/>
      </InstallUISequence>
    </UI>
  </Package>
</Wix>
