*
!/.gitignore

!/CMakeLists.txt
!/LICENSE
!/README.md
!/*.conf

!/include/
!/include/**/
!/include/**/*.h

!/module/
!/module/**/
/module/.**/
!/module/**/dkms.conf
!/module/**/Kbuild
!/module/**/Makefile
!/module/**/*.c
/module/**/*.mod.c
!/module/**/*.h

!/src/
!/src/**/
/src/.**/
!/src/**/*.c
!/src/**/*.cc
!/src/**/*.cpp
!/src/**/*.cxx
!/src/**/*.h
!/src/**/*.hh
!/src/**/*.hpp
!/src/**/*.hxx
