# SPDX-License-Identifier: MIT
*
!/.gitignore

!/CMakeLists.txt
!/LICENSE
!/README.md
!/README-LINUX.md
!/README-WINDOWS.md
!/*.conf
!/*.ps1
!/*.rules

!/include/
!/include/**/
!/include/**/*.h

!/module/
!/module/**/
/module/.**/
!/module/**/dkms.conf
!/module/**/Kbuild
!/module/**/Makefile
!/module/**/*.c
/module/**/*.mod.c
!/module/**/*.h

!/src/
!/src/**/
/src/.**/
!/src/**/*.c
!/src/**/*.cc
!/src/**/*.cpp
!/src/**/*.cxx
!/src/**/*.h
!/src/**/*.hh
!/src/**/*.hpp
!/src/**/*.hxx

!/windrv/
!/windrv/**/
!/windrv/**/*.c
!/windrv/**/*.cc
!/windrv/**/*.cpp
!/windrv/**/*.cxx
!/windrv/**/*.h
!/windrv/**/*.hh
!/windrv/**/*.hpp
!/windrv/**/*.hxx
!/windrv/**/*.cmd
!/windrv/**/*.inf
!/windrv/**/*.ps1
!/windrv/**/*.reg
!/windrv/**/*.vcxproj
/windrv/**/build/
/windrv/**/package/
